# 大文件 / 二进制
*.zip
*.rar
# *.pt
*.ckpt
*.bin

# Python / 环境
__pycache__/
*.py[cod]
env/
venv/
*.egg-info/

# 编辑器 / 系统
.DS_Store
.idea/
.vscode/
*.log

# 训练输出 / 缓存
runs/

# 明确忽略数据与权重目录（即使上面的扩展名规则已覆盖）
input/
output/
vehicle_yolo/input/
vehicle_yolo/output/
drone_yolo/input/
drone_yolo/output/
sample_attack_defend/input/
sample_attack_defend/output/
base_train_optimaze/input/
base_train_optimaze/output/

vehicle_ssd/
vehicle_ssd_fasterrcnn/
autodrive_llm/

poisioning/input/
poisioning/output/
poisioning/


# 其他常见大文件扩展
*.tar
*.tar.gz
*.tgz
*.pth
*.weights